<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1 th:text="${name}"></h1>
    <h1 th:text="${course}"></h1>
    <h1 th:text="${subject}"></h1>
    <h5 th:text="${student_id.isEmpty()}"></h5>
    <h5 th:text="${dreni2}"></h5>
    <h1 th:text="${Student.getFirstName()}"></h1>
    <h1 th:text="${Student.getLastName()}"></h1>

    <table >
        <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Gender</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${Mentors.get(0).getFirstName()}">
            </td>
            <td th:text="${Mentors.get(0).getLastName()}">
            </td>
            <td th:text="${Mentors.get(0).getAge()}">
            </td>
            <td th:text="${Mentors.get(0).getGender()}">
            </td>
        </tr>
        <tr>
            <td th:text="${Mentors.get(1).getFirstName()}">
            </td>
            <td th:text="${Mentors.get(1).getLastName()}">
            </td>
            <td th:text="${Mentors.get(1).getAge()}">
            </td>
            <td th:text="${Mentors.get(1).getGender()}">
            </td>
        </tr>
        <tr>
            <td th:text="${Mentors.get(2).getFirstName()}">
            </td>
            <td th:text="${Mentors.get(2).getLastName()}">
            </td>
            <td th:text="${Mentors.get(2).getAge()}">
            </td>
            <td th:text="${Mentors.get(2).getGender()}">
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>